<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

</head>
    <body>
        <div class="ui inverted menu">
            <div class="ui container">
                <a class="header item" href="/"><i class="code icon"></i>Blog Site</a>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>

                <div class="right menu">
                    <%if(!currentUser){%>
                        <a class="ui item" href="/register">Sigin</a>
                        <a class="ui item" href="/login">Login</a>
                    <%}else{ %>
                        <a class="ui item" >Hello, <%=currentUser.username%></a>
                        <a class="ui item" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>